<%= render partial: "shared/error" %>
<%=form_with scope: @meal_plan, url: meal_plan_index_path, local: true do |form| %>
  <%= form.hidden_field :start_date %>
  <%= form.hidden_field :end_date %>

  <div class="meals">
    <%= form.fields_for :meals do |meal_fields| %>
      <%=meal_fields.hidden_field :id %>
      <%=meal_fields.hidden_field :date %>
      <p> <%= meal_fields.object.date.to_s %></p>

      <div class="form-control">
        <%= meal_fields.label :item_id %>
        <%= meal_fields.select :item_id, current_user.item_options %>
      </div>
      <%end %>
      </div>

  <div class="actions">
    <%=form.submit %>

  </div>
<%end %>