<h1>New Meal Plan</h1>
<%= form_for @meal_plan, url: new_meal_plan_path, method: "GET" do |form| %>
  <div class="form-control">
    <strong><%=form.label :start_date  %></strong> <br>
    <%=form.date_field :start_date, type: "date"  %>
  </div>

  <div class="form-control">
    <strong><%=form.label :end_date  %></strong> <br>
    <%=form.date_field :end_date, type: "date"  %>
  </div>

  <div class="actions">
    <%=form.submit %>
  </div>
<%end %>
<%=render partial: "form" %>